a:hover, label[for=burger_menu]:hover, input[type=submit]:hover, .slider_button:hover {
  cursor: pointer;
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.translated {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}
.translated.active {
  -webkit-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.cta_link {
  display: inline-block;
  border: 3px solid;
  text-decoration: none;
  padding: 1.4em 0.5em;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 0.5em;
  -ms-flex-line-pack: center;
  align-content: center;
}
.cta_link:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.cta_link.white_link, .cta_link.light_link {
  border-color: #A03127;
}
.cta_link.white_link {
  background-color: rgb(255, 255, 255);
  color: #A03127;
}
.cta_link.white_link:hover {
  background-color: #A03127;
  color: rgb(255, 255, 255);
}
.cta_link.light_link {
  background-color: #A03127;
  color: rgb(255, 255, 255);
}
.cta_link.light_link:hover {
  background-color: transparent;
  color: #A03127;
}
.cta_link.dark_link {
  background-color: rgb(255, 255, 255);
  color: #712424;
  border-color: rgb(255, 255, 255);
}
.cta_link.dark_link:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.centered, .cta_link {
  text-align: center;
}

.first_section {
  margin-top: 6.25em;
}

.no_display {
  display: none;
}

.section {
  padding: 4.375em 1.25em;
}

.light_red_section {
  background-color: #FFF2F0;
  color: #A03127;
}

.dark_red_section {
  background-color: #712424;
  color: rgb(255, 255, 255);
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid_container {
  display: -ms-grid;
  display: grid;
}

.red_text {
  color: #A03127;
}

.logo_link {
  background-position: center;
  text-indent: -10000px;
  overflow: hidden;
  background-repeat: no-repeat;
  display: inline-block;
}

.normal_link {
  -webkit-text-decoration: 1px underline transparent;
  text-decoration: 1px underline transparent;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: rgb(0, 0, 0);
}
.normal_link:hover {
  -webkit-text-decoration-color: rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
}

.main_nav {
  position: relative;
  padding: 1.25em 1.25em 0 1.25em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_nav .home_link {
  background-image: url("../../resources/images/logo.svg");
  width: 50px;
  height: 50px;
}
.main_nav ul.flex_container {
  gap: 1.875em;
  position: absolute;
  top: -200%;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.main_nav input[type=checkbox] {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  visibility: hidden;
  position: absolute;
}
.main_nav input[type=checkbox]:checked ~ ul.flex_container {
  z-index: 1;
  top: 0;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100vw + 2em);
  height: calc(100vh + 2em);
}
.main_nav input[type=checkbox]:checked ~ ul.flex_container .main_nav_item .main_nav_item_link {
  color: rgb(255, 255, 255);
  font-size: 1.5625em;
}
.main_nav input[type=checkbox]:checked ~ ul.flex_container .main_nav_item .main_nav_item_link:hover {
  -webkit-text-decoration-color: rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
}
.main_nav input[type=checkbox]:checked ~ label[for=burger_menu] {
  z-index: 2;
}
.main_nav input[type=checkbox]:checked ~ label .line {
  background-color: transparent;
}
.main_nav input[type=checkbox]:checked ~ label .line:before, .main_nav input[type=checkbox]:checked ~ label .line:after {
  background-color: rgb(255, 255, 255);
}
.main_nav input[type=checkbox]:checked ~ label .line:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.main_nav input[type=checkbox]:checked ~ label .line:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main_nav label[for=burger_menu] {
  width: 1.4375em;
  position: relative;
}
.main_nav label[for=burger_menu] .line {
  width: 100%;
  display: block;
  height: 0.2em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.main_nav label[for=burger_menu] .line:before, .main_nav label[for=burger_menu] .line:after {
  content: "";
  height: 0.2em;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.main_nav label[for=burger_menu] .line:before {
  -webkit-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}
.main_nav label[for=burger_menu] .line:after {
  -webkit-transform: translateY(0.5em);
  -ms-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

.no_js_banner_text {
  color: rgb(255, 255, 255);
  margin-bottom: 1.25em;
}
.no_js_banner .banner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 1.875em;
}
.no_js_banner .banner div {
  margin: 2em;
}
.no_js_banner .banner label {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 5em 5em 0 0;
}
.no_js_banner .banner label:before, .no_js_banner .banner label:after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 12.5px;
}
.no_js_banner .banner label:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.no_js_banner .banner label:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no_js_banner .banner input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  visibility: hidden;
  position: absolute;
}
.no_js_banner .banner input:checked {
  display: none;
}
.no_js_banner .banner input:checked + label + div, .no_js_banner .banner input:checked + label {
  display: none;
}

.footer_container {
  padding: 4.375em 1.25em;
}
.footer_container .secondary_nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.125em;
  padding-bottom: 3.125em;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.footer_container .secondary_nav div h3 {
  margin-bottom: 1.5em;
}
.footer_container .secondary_nav div ul.flex_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.25em;
}
.footer_container .secondary_nav div ul.flex_container .logo_link {
  background-image: url("../../resources/images/fcb_logo.svg");
  width: 35px;
  height: 35px;
  border-radius: 0.625em;
}
.footer_container div.legal_notice_container {
  margin-top: 3.125em;
}
.footer_container div.legal_notice_container > *:not(:last-child) {
  margin-bottom: 1.25em;
}

.card_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -10000px;
}

.progress_bar {
  background-color: rgb(0, 0, 0);
  height: 0.3em;
  position: fixed;
  bottom: 0;
  width: 0;
}

.image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.625em;
}

.form_feedback, .form_error {
  padding: 1.5em;
  color: rgb(255, 255, 255);
  position: fixed;
  border-radius: 0.5em;
  right: 1.25em;
  transition: 0.7s ease-in-out;
  opacity: 1;
  top: -400px;
}

.form_error {
  background-color: #712424;
}

.form_feedback {
  background-color: #27a03f;
}

.disappear {
  transform: translateX(100%);
  opacity: 0;
}

body {
  font-family: "SofiaPro-Regular", "Helvetica-Roman", "Arial-Regular", sans-serif;
}
body .field_error {
  margin-top: 1.25em;
}
body h2, body h3, body h4, body .cta_link, body .field_error {
  font-family: "SofiaPro-Bold", "Helvetica-Bold", "Arial-Bold", sans-serif;
  font-weight: bold;
}
body h2 {
  font-size: 2.5em;
}
body h2.main_title {
  font-size: 3.125em;
  margin-bottom: 1em;
}
body h2.secondary_title {
  margin-bottom: 1.25em;
}
body h3, body h4, body .cta_link, body .field_error, body .form_error, body .form_feedback {
  font-size: 1.25em;
}
body main .contact_and_support_us_container .link_container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.875em;
}
body main .contact_and_support_us_container .link_container a.cta_link {
  text-indent: unset;
  background-size: 30px 15px;
  text-align: left;
  max-width: unset;
  -ms-flex-preferred-size: calc(50% - 1.875em - 6px);
  flex-basis: calc(50% - 1.875em - 6px);
  background-position: 90%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
body main .contact_and_support_us_container .link_container a.cta_link:first-of-type {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .contact_and_support_us_container .link_container a.cta_link:first-of-type:hover {
  background-image: url("../../resources/images/right_arrow.svg");
}
body main .contact_and_support_us_container .link_container a.cta_link:last-of-type {
  background-image: url("../../resources/images/right_arrow.svg");
}
body main .contact_and_support_us_container .link_container a.cta_link:last-of-type:hover {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .home_hero_container {
  position: relative;
  padding: 0 3.125em;
  height: calc(100vh - 100px - 70px);
}
body main .home_hero_container .main_title {
  margin-bottom: 1.6em;
}
body main .home_hero_container .catchphrase {
  margin-bottom: 2.4em;
  font-size: 1.5625em;
}
body main .home_hero_container .scroll_down {
  -webkit-animation: scroll_down 1.5s infinite ease-in-out;
  animation: scroll_down 1.5s infinite ease-in-out;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
}
@-webkit-keyframes scroll_down {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(20px);
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes scroll_down {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(20px);
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}
body main .home_hero_container .scroll_down p {
  padding-bottom: 50px;
}
body main .home_hero_container .scroll_down p:after {
  content: url("../../resources/images/scroll_down.svg");
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
body main .home_hero_container .link_container {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 1.875em;
}
body main .home_hero_container .link_container a.cta_link {
  -ms-flex-preferred-size: calc(50% - 1.875em - 6px);
  flex-basis: calc(50% - 1.875em - 6px);
}
body main .last_project_container, body main .projects_container, body main .other_projects_container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.875em;
}
body main .last_project_container > a.cta_link, body main .projects_container > a.cta_link, body main .other_projects_container > a.cta_link {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: unset;
  text-indent: unset;
  background-image: url("../../resources/images/right_arrow.svg");
  background-size: 30px 15px;
  background-position: 80% center;
}
body main .last_project_container > a.cta_link:hover, body main .projects_container > a.cta_link:hover, body main .other_projects_container > a.cta_link:hover {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .last_project_container .last_project, body main .last_project_container .project, body main .last_project_container .other_project, body main .projects_container .last_project, body main .projects_container .project, body main .projects_container .other_project, body main .other_projects_container .last_project, body main .other_projects_container .project, body main .other_projects_container .other_project {
  position: relative;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body main .last_project_container .last_project_content_container, body main .last_project_container .project_content_container, body main .last_project_container .other_project_content_container, body main .projects_container .last_project_content_container, body main .projects_container .project_content_container, body main .projects_container .other_project_content_container, body main .other_projects_container .last_project_content_container, body main .other_projects_container .project_content_container, body main .other_projects_container .other_project_content_container {
  margin-top: 0.775em;
}
body main .other_projects_container .other_project {
  width: 100%;
}
body main .stat_container ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body main .stat_container ul li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.625em;
}
body main .stat_container ul li:not(:last-child) {
  margin-bottom: 1.875em;
}
body main .stat_container ul li h3 {
  font-size: 1.875em;
}
body main .stat_container ul li p {
  max-width: 9.375em;
}
body main .testimonial_container ul {
  overflow-x: scroll;
  gap: 1em;
  margin-bottom: 1.5625em;
  padding-bottom: 1.5625em;
}
body main .testimonial_container ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border: 3px solid #A03127;
  padding: 1.875em 1.25em;
  background-color: transparent;
  max-width: calc(100% - 2.5em - 6px);
  border-radius: 0.625em;
}
body main .testimonial_container ul li h3 {
  margin-bottom: 1.5em;
}
body main .testimonial_container .after_and_before_links {
  gap: 1.875em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
body main .testimonial_container .after_and_before_links .slider_button {
  max-width: unset;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
body main .testimonial_container .after_and_before_links .slider_button:first-child, body main .testimonial_container .after_and_before_links .slider_button:last-child {
  background-size: 30px 15px;
  text-indent: unset;
  -ms-flex-preferred-size: calc(50% - 1.875em - 6px);
  flex-basis: calc(50% - 1.875em - 6px);
}
body main .testimonial_container .after_and_before_links .slider_button:first-child {
  background-image: url("../../resources/images/left_arrow.svg");
  text-align: right;
  background-position: 10%;
}
body main .testimonial_container .after_and_before_links .slider_button:first-child:hover {
  background-image: url("../../resources/images/left_arrow_hover.svg");
}
body main .testimonial_container .after_and_before_links .slider_button:last-child {
  background-image: url("../../resources/images/right_arrow.svg");
  text-align: left;
  background-position: 80%;
}
body main .testimonial_container .after_and_before_links .slider_button:last-child:hover {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .goal_and_who_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.125em;
}
body main .goal_and_who_container article h3 {
  margin-bottom: 1.5em;
}
body main .houses_container p:not(:last-of-type), body main .houses_container .image_container {
  margin-bottom: 1.25em;
}
body main .houses_container div.flex_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.875em;
}
body main .shops_container, body main .houses_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body main .shops_container .house, body main .shops_container .shop, body main .houses_container .house, body main .houses_container .shop {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body main .shops_container .house:not(:last-of-type), body main .shops_container .shop:not(:last-of-type), body main .houses_container .house:not(:last-of-type), body main .houses_container .shop:not(:last-of-type) {
  margin-bottom: 3.125em;
}
body main .shops_container ul li, body main .houses_container ul li {
  list-style: inside;
}
body main .shops_container ul li:not(:last-child), body main .houses_container ul li:not(:last-child) {
  margin-bottom: 1.25em;
}
body main .shops_container .shop .address_and_schedule_container {
  border-bottom: 1px solid rgb(255, 255, 255);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
body main .shops_container .shop .address_and_schedule_container .address_container {
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 1.25em;
}
body main .shops_container .shop .address_and_schedule_container .schedule_container {
  padding-left: 1.25em;
}
body main .shops_container .shop .address_and_schedule_container .address_container, body main .shops_container .shop .address_and_schedule_container .schedule_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.875em;
  padding-bottom: 1.875em;
  -ms-flex-preferred-size: calc(50% - 1.25em - 1px);
  flex-basis: calc(50% - 1.25em - 1px);
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
}
body main .shops_container .shop .address_and_schedule_container .address_container .cta_link, body main .shops_container .shop .address_and_schedule_container .schedule_container .cta_link {
  background-image: url("../../resources/images/google_maps_icon.svg");
  max-width: unset;
  width: unset;
}
body main .shops_container .shop .address_and_schedule_container h3 {
  margin: 1.5em 0;
  text-align: center;
  font-family: "SofiaPro-Bold-Italic", "Arial-Bold-Italic", "Helvetica-Bold-Italic", sans-serif;
  font-style: italic;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
body main .phone_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.125em;
}
body main .phone_container .cta_link {
  max-width: unset;
  width: unset;
}
body main .mail_container form {
  margin-top: 3.125em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.125em;
}
body main .mail_container form div input, body main .mail_container form div textarea {
  width: calc(100% - 1.25em);
  padding: 0.625em;
  margin-top: 1.875em;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
}
body main .mail_container form div input:focus, body main .mail_container form div textarea:focus {
  border-color: rgb(255, 255, 255);
  outline: 1px solid rgb(255, 255, 255);
  border-radius: 0.625em;
}
body main .mail_container form div input::-webkit-input-placeholder, body main .mail_container form div textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main .mail_container form div input::-moz-placeholder, body main .mail_container form div textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main .mail_container form div input:-ms-input-placeholder, body main .mail_container form div textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main .mail_container form div input::-ms-input-placeholder, body main .mail_container form div textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main .mail_container form div input::placeholder, body main .mail_container form div textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main .financial_donation_container p:first-of-type, body main .material_donation_container p:first-of-type {
  margin-bottom: 1.875em;
}
body main .financial_donation_container p:last-of-type, body main .material_donation_container p:last-of-type {
  margin-top: 1.25em;
}
body main .financial_donation_container ul, body main .material_donation_container ul {
  margin-bottom: 1.875em;
}
body main .financial_donation_container ul li, body main .material_donation_container ul li {
  list-style: inside;
}
body main .financial_donation_container ul li:not(:last-child), body main .material_donation_container ul li:not(:last-child) {
  margin-bottom: 1.25em;
}
body main .material_donation_container p:last-of-type {
  margin-top: 1.875em;
}
body main .material_donation_container a.cta_link {
  margin-top: 1.875em;
  max-width: unset;
  width: calc(100% - 1em - 6px);
}
body main .project_container .images_container {
  margin-top: 1.875em;
}
body main .project_container .images_container ul {
  gap: 1.875em;
}
body main .ln_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body main .ln_container .section:first-of-type p:not(:last-child) {
  margin-bottom: 1.25em;
}
body main .ln_container .section:nth-of-type(even) {
  background-color: #712424;
  color: rgb(255, 255, 255);
}
body main .ln_container .section:nth-of-type(odd) {
  background-color: #FFF2F0;
  color: #A03127;
}

@media (width >= 550px) {
  .main_nav_container .main_nav input[id=burger_menu], .main_nav_container .main_nav label[for=burger_menu] {
    display: none;
  }
  .main_nav_container .main_nav ul.flex_container {
    position: initial;
    opacity: 1;
  }
}
@media (width >= 800px) {
  .cta_link:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  body main .home_hero_container .link_container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  body main .home_hero_container .link_container a.cta_link {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }
  body main .contact_and_support_us_container .link_container {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  body main .contact_and_support_us_container .link_container a.cta_link {
    width: 33%;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    -webkit-box-flex: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
  }
  body main .last_project_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  body main .last_project_container .last_project {
    -ms-flex-preferred-size: calc(33.3333333333% - 1.875em);
    flex-basis: calc(33.3333333333% - 1.875em);
  }
  body main .last_project_container a.cta_link {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    text-align: left;
    background-position: calc(100% - 0.5em);
  }
  body main .last_project_container .last_project .image_container, body main .last_project_container .project .image_container, body main .projects_container .last_project .image_container, body main .projects_container .project .image_container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  body main .stat_container ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  body main .stat_container ul li {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  body main .testimonial_container {
    position: relative;
  }
  body main .testimonial_container ul {
    width: 35%;
    margin: 0 auto;
  }
  body main .testimonial_container .after_and_before_links .slider_button:first-of-type, body main .testimonial_container .after_and_before_links .slider_button:last-of-type {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8em;
  }
  body main .testimonial_container .after_and_before_links .slider_button:first-of-type {
    left: 8em;
  }
  body main .testimonial_container .after_and_before_links .slider_button:last-of-type {
    right: 8em;
  }
  body main .goal_and_who_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: unset;
  }
  body main .goal_and_who_container article {
    width: calc(50% - 3.125em);
  }
  body main .houses_container div.flex_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  body main .houses_container div.flex_container .house {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: calc(50% - 1.875em);
    flex-basis: calc(50% - 1.875em);
  }
  body main .shops_container .shop {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1.875em;
    width: 100%;
  }
  body main .shops_container .shop:nth-of-type(even) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  body main .shops_container .shop .image_container {
    width: 50%;
  }
  body main .shops_container .shop .address_and_schedule_container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875em;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  body main .shops_container .shop .address_and_schedule_container h3 {
    text-align: left;
    margin: 0;
  }
  body main .shops_container .shop .address_and_schedule_container .address_container, body main .shops_container .shop .address_and_schedule_container .schedule_container {
    padding: 0;
    border: 0;
  }
  body main .shops_container .shop .address_and_schedule_container .address_container .cta_link, body main .shops_container .shop .address_and_schedule_container .schedule_container .cta_link {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    max-width: 33%;
  }
  body main .projects_container, body main .project_container ul {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  body main .material_donation_container a.cta_link, body main .material_donation_container .cta_link, body main .phone_container a.cta_link, body main .phone_container .cta_link {
    width: 20%;
  }
  body main .material_donation_container, body main .left_aligned {
    margin: 0 0 0 auto;
  }
  body main .material_donation_container a.cta_link, body main .left_aligned a.cta_link {
    width: 33%;
  }
  body main .left_aligned {
    margin-bottom: 1.25em;
  }
  body main .financial_donation_container, body main .material_donation_container, body main .left_aligned {
    max-width: 50%;
  }
  body main .other_projects_container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  body main .other_projects_container .image_container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  body main .ln_container section h2, body main .ln_container section p {
    max-width: 50%;
  }
  body main .ln_container section:nth-of-type(even) p, body main .ln_container section:nth-of-type(even) h2 {
    margin: auto 0 auto auto;
  }
  body main .ln_container section:nth-of-type(even) h2 {
    margin-bottom: 1.25em;
  }
  body main .mail_container form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  body main .mail_container form .cta_link {
    width: 33%;
  }
  body footer .footer_container .secondary_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
