a:hover, label[for=burger_menu]:hover {
  cursor: pointer;
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.cta_link {
  border: 3px solid;
  text-decoration: none;
  padding: 1.4em 0;
  transition: 0.3s ease-in-out;
  border-radius: 0.5em;
  width: 6.5em;
  max-width: 6.5em;
}
.cta_link:hover {
  transform: scale(1.1);
}
.cta_link.white_link, .cta_link.light_link {
  border-color: #A03127;
}
.cta_link.white_link {
  background-color: rgb(255, 255, 255);
  color: #A03127;
}
.cta_link.white_link:hover {
  background-color: #A03127;
  color: rgb(255, 255, 255);
}
.cta_link.light_link {
  background-color: #A03127;
  color: rgb(255, 255, 255);
}
.cta_link.light_link:hover {
  background-color: rgb(255, 255, 255);
  color: #A03127;
}
.cta_link.dark_link {
  background-color: rgb(255, 255, 255);
  color: #712424;
  border-color: rgb(255, 255, 255);
}

.centered, .cta_link {
  text-align: center;
}

.first_section {
  margin-top: 6.25em;
}

.no_display {
  display: none;
}

.section {
  padding: 4.375em 1.25em;
}

.light_red_section {
  background-color: #FFF2F0;
  color: #A03127;
}

.dark_red_section {
  background-color: #712424;
  color: rgb(255, 255, 255);
}

.flex_container {
  display: flex;
  justify-content: space-between;
}

.red_text {
  color: #A03127;
}

.logo_link {
  background-position: center;
  text-indent: -10000px;
  overflow: hidden;
  background-repeat: no-repeat;
  display: inline-block;
}

.normal_link {
  text-decoration: 1px underline transparent;
  transition: 0.3s ease-in-out;
  color: rgb(0, 0, 0);
}
.normal_link:hover {
  text-decoration-color: rgb(0, 0, 0);
}

.main_nav {
  position: relative;
  padding: 1.25em 1.25em 0 1.25em;
}
.main_nav .home_link {
  background-image: url("../../resources/images/logo.svg");
  width: 50px;
  height: 50px;
}
.main_nav ul.flex_container {
  gap: 1.875em;
  position: absolute;
  top: -200%;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.main_nav input[type=checkbox] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  visibility: hidden;
  position: absolute;
}
.main_nav input[type=checkbox]:checked ~ ul.flex_container {
  z-index: 1;
  top: 0;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100vw + 2em);
  height: calc(100vh + 2em);
}
.main_nav input[type=checkbox]:checked ~ ul.flex_container .main_nav_item .main_nav_item_link {
  color: rgb(255, 255, 255);
  font-size: 1.5625em;
}
.main_nav input[type=checkbox]:checked ~ ul.flex_container .main_nav_item .main_nav_item_link:hover {
  text-decoration-color: rgb(255, 255, 255);
}
.main_nav input[type=checkbox]:checked ~ label[for=burger_menu] {
  z-index: 2;
}
.main_nav input[type=checkbox]:checked ~ label .line {
  background-color: transparent;
}
.main_nav input[type=checkbox]:checked ~ label .line:before, .main_nav input[type=checkbox]:checked ~ label .line:after {
  background-color: rgb(255, 255, 255);
}
.main_nav input[type=checkbox]:checked ~ label .line:before {
  transform: rotate(-45deg);
}
.main_nav input[type=checkbox]:checked ~ label .line:after {
  transform: rotate(45deg);
}
.main_nav label[for=burger_menu] {
  width: 1.4375em;
  position: relative;
}
.main_nav label[for=burger_menu] .line {
  width: 100%;
  display: block;
  height: 0.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(0, 0, 0);
  transition: background-color 0.3s ease-in-out;
}
.main_nav label[for=burger_menu] .line:before, .main_nav label[for=burger_menu] .line:after {
  content: "";
  height: 0.2em;
  width: 100%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
.main_nav label[for=burger_menu] .line:before {
  transform: translateY(-0.5em);
}
.main_nav label[for=burger_menu] .line:after {
  transform: translateY(0.5em);
}

.footer_container {
  padding: 4.375em 1.25em;
}
.footer_container .secondary_nav {
  flex-direction: column;
  gap: 3.125em;
  padding-bottom: 3.125em;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.footer_container .secondary_nav div h3 {
  margin-bottom: 1.5em;
}
.footer_container .secondary_nav div ul.flex_container {
  flex-direction: column;
  gap: 1.25em;
}
.footer_container .secondary_nav div ul.flex_container .logo_link {
  background-image: url("../../resources/images/fcb_logo.svg");
  width: 35px;
  height: 35px;
  border-radius: 0.625em;
}
.footer_container div.legal_notice_container {
  margin-top: 3.125em;
}
.footer_container div.legal_notice_container > *:not(:last-child) {
  margin-bottom: 1.25em;
}

.card_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -10000px;
}

.progress_bar {
  background-color: rgb(0, 0, 0);
  height: 0.3em;
  position: fixed;
  bottom: 0;
  width: 0;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625em;
}

body {
  font-family: "SofiaPro-Regular", "Helvetica-Roman", "Arial-Regular", sans-serif;
}
body h2, body h3, body h4, body .cta_link {
  font-family: "SofiaPro-Bold", "Helvetica-Bold", "Arial-Bold", sans-serif;
  font-weight: bold;
}
body h2 {
  font-size: 2.5em;
}
body h2.main_title {
  font-size: 3.125em;
  margin-bottom: 1em;
}
body h2.secondary_title {
  margin-bottom: 1.25em;
}
body h3, body h4, body .cta_link {
  font-size: 1.25em;
}
body main .contact_and_support_us_container .link_container {
  flex-wrap: wrap;
  gap: 1.875em;
}
body main .contact_and_support_us_container .link_container a.cta_link {
  text-indent: unset;
  background-size: 30px 15px;
  padding: 1.4em 0.5em;
  text-align: left;
  max-width: unset;
  flex-grow: 1;
  background-position: 90%;
}
body main .contact_and_support_us_container .link_container a.cta_link:first-of-type {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .contact_and_support_us_container .link_container a.cta_link:first-of-type:hover {
  background-image: url("../../resources/images/right_arrow.svg");
}
body main .contact_and_support_us_container .link_container a.cta_link:last-of-type {
  background-image: url("../../resources/images/right_arrow.svg");
}
body main .contact_and_support_us_container .link_container a.cta_link:last-of-type:hover {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .home_hero_container {
  position: relative;
  padding: 0 3.125em;
  height: calc(100vh - 100px - 70px);
}
body main .home_hero_container .main_title {
  margin-bottom: 1.6em;
}
body main .home_hero_container .catchphrase {
  margin-bottom: 2.4em;
  font-size: 1.5625em;
}
body main .home_hero_container .scroll_down {
  animation: scroll_down 1.5s infinite ease-in-out;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
@keyframes scroll_down {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
body main .home_hero_container .scroll_down p {
  padding-bottom: 50px;
}
body main .home_hero_container .scroll_down p:after {
  content: url("../../resources/images/scroll_down.svg");
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
body main .home_hero_container .link_container {
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1.875em;
}
body main .last_project_container {
  flex-wrap: wrap;
  gap: 1.875em;
}
body main .last_project_container > a.cta_link {
  flex-basis: 100%;
  max-width: unset;
  text-indent: unset;
  background-image: url("../../resources/images/right_arrow.svg");
  background-size: 30px 15px;
  background-position: 80% center;
}
body main .last_project_container > a.cta_link:hover {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .last_project_container .last_project {
  position: relative;
  overflow: hidden;
}
body main .stat_container ul li {
  align-items: center;
  flex-direction: column;
  gap: 0.625em;
}
body main .stat_container ul li:not(:last-child) {
  margin-bottom: 1.875em;
}
body main .stat_container ul li h3 {
  font-size: 1.875em;
}
body main .stat_container ul li p {
  max-width: 9.375em;
}
body main .testimonial_container ul {
  overflow-x: scroll;
  gap: 1em;
  margin-bottom: 1.5625em;
  padding-bottom: 1.5625em;
}
body main .testimonial_container ul li {
  flex: 0 0 auto;
  flex-basis: 100%;
  border: 3px solid #A03127;
  padding: 1.875em 1.25em;
  background-color: transparent;
  max-width: calc(100% - 2.5em - 6px);
  border-radius: 0.625em;
}
body main .testimonial_container ul li h3 {
  margin-bottom: 1.5em;
}
body main .testimonial_container .after_and_before_links {
  gap: 1.875em;
  flex-wrap: wrap;
}
body main .testimonial_container .after_and_before_links .slider_button {
  max-width: unset;
  flex-grow: 1;
}
body main .testimonial_container .after_and_before_links .slider_button:first-child, body main .testimonial_container .after_and_before_links .slider_button:last-child {
  background-size: 30px 15px;
  text-indent: unset;
  padding: 1.4em 0.5em;
}
body main .testimonial_container .after_and_before_links .slider_button:first-child {
  background-image: url("../../resources/images/left_arrow.svg");
  text-align: right;
  background-position: 10%;
}
body main .testimonial_container .after_and_before_links .slider_button:first-child:hover {
  background-image: url("../../resources/images/left_arrow_hover.svg");
}
body main .testimonial_container .after_and_before_links .slider_button:last-child {
  background-image: url("../../resources/images/right_arrow.svg");
  text-align: left;
  background-position: 80%;
}
body main .testimonial_container .after_and_before_links .slider_button:last-child:hover {
  background-image: url("../../resources/images/right_arrow_hover.svg");
}
body main .goal_and_who_container article {
  margin-bottom: 3.125em;
}
body main .goal_and_who_container article h3 {
  margin-bottom: 1.5em;
}
body main .houses_container p:not(:last-child), body main .houses_container .image_container {
  margin-bottom: 1.25em;
}
body main .houses_container .house:not(:last-child) {
  margin-bottom: 3.125em;
}
body main .houses_container .house:first-of-type {
  margin-top: 1.875em;
}
body main .shops_container ul li, body main .houses_container ul li {
  list-style: inside;
}
body main .shops_container ul li:not(:last-child), body main .houses_container ul li:not(:last-child) {
  margin-bottom: 1.25em;
}
body main .shops_container {
  row-gap: 3.125em;
  flex-direction: column;
}
body main .shops_container .shop h3 {
  margin: 1.5em 0;
  text-align: center;
  font-family: "SofiaPro-Bold-Italic", "Arial-Bold-Italic", "Helvetica-Bold-Italic", sans-serif;
  font-style: italic;
}
body main .shops_container .shop .address_and_schedule_container {
  border-bottom: 1px solid rgb(255, 255, 255);
}
body main .shops_container .shop .address_and_schedule_container .address_container {
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 1.25em;
}
body main .shops_container .shop .address_and_schedule_container .schedule_container {
  padding-left: 1.25em;
}
body main .shops_container .shop .address_and_schedule_container .address_container, body main .shops_container .shop .address_and_schedule_container .schedule_container {
  flex-direction: column;
  row-gap: 1.875em;
  padding-bottom: 1.875em;
  flex-basis: calc(50% - 1.25em);
  justify-content: unset;
}
body main .shops_container .shop .address_and_schedule_container .address_container .cta_link, body main .shops_container .shop .address_and_schedule_container .schedule_container .cta_link {
  background-image: url("../../resources/images/google_maps_icon.svg");
}

/*# sourceMappingURL=main.css.map */
