@import "variables";

a, label[for="burger_menu"], input[type="submit"], .slider_button {
  &:hover {
    cursor: pointer;
  }
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.translated {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);

  &.active {
    -webkit-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.cta_link {
  display: inline-block;
  border: 3px solid;
  text-decoration: none;
  padding: 1.4em .5em;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: .5em;
  -ms-flex-line-pack: center;
  align-content: center;

  &:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }

  &.white_link, &.light_link {
    border-color: $normal_red_color;
  }

  &.white_link {
    background-color: $white_color;
    color: $normal_red_color;

    &:hover {
      background-color: $normal_red_color;
      color: $white_color;
    }
  }

  &.light_link {
    background-color: $normal_red_color;
    color: $white_color;

    &:hover {
      background-color: transparent;
      color: $normal_red_color;
    }
  }

  &.dark_link {
    background-color: $white_color;
    color: $dark_red_color;
    border-color: $white_color;

    &:hover {
      color: $white_color;
      background-color: transparent;
    }
  }
}

.centered, .cta_link {
  text-align: center;
}

.first_section {
  margin-top: 6.25em;
}

.no_display {
  display: none;
}

.section {
  padding: $section_top_bottom_padding $section_left_right_padding;
}

.light_red_section {
  background-color: $light_red_color;
  color: $normal_red_color;
}

.dark_red_section {
  background-color: $dark_red_color;
  color: $white_color;
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid_container {
  display: -ms-grid;
  display: grid;
}

.red_text {
  color: $normal_red_color;
}

.logo_link {
  background-position: center;
  text-indent: -10000px;
  overflow: hidden;
  background-repeat: no-repeat;
  display: inline-block;
}

.normal_link {
  -webkit-text-decoration: 1px underline transparent;
  text-decoration: 1px underline transparent;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: $black_color;

  &:hover {
    -webkit-text-decoration-color: $black_color;
    text-decoration-color: $black_color;
  }
}

.main_nav {
  position: relative;
  padding: $section_left_right_padding $section_left_right_padding 0 $section_left_right_padding;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .home_link {
    background-image: url("../../resources/images/logo.svg");
    width: 50px;
    height: 50px;
  }

  ul.flex_container {
    gap: 1.875em;
    position: absolute;
    top: -200%;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  input[type="checkbox"] {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    visibility: hidden;
    position: absolute;

    &:checked {
      & ~ ul.flex_container {
        z-index: 1;
        top: 0;
        background-color: $black_color;
        opacity: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: calc(100vw + 2em);
        height: calc(100vh + 2em);

        & .main_nav_item {
          & .main_nav_item_link {
            color: $white_color;
            font-size: 1.5625em;

            &:hover {
              -webkit-text-decoration-color: $white_color;
              text-decoration-color: $white_color;
            }
          }
        }
      }

      & ~ label[for="burger_menu"] {
        z-index: 2;
      }

      & ~ label .line {
        background-color: transparent;
      }

      & ~ label .line:before, & ~ label .line:after {
        background-color: $white_color;
      }

      & ~ label .line:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      & ~ label .line:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }

  label[for='burger_menu'] {
    width: 1.4375em;
    position: relative;

    .line {
      width: 100%;
      display: block;
      height: 0.2em;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: $black_color;
      -webkit-transition: background-color .3s ease-in-out;
      -o-transition: background-color .3s ease-in-out;
      transition: background-color .3s ease-in-out;

      &:before, &:after {
        content: '';
        height: 0.2em;
        width: 100%;
        background-color: $black_color;
        position: absolute;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
      }

      &:before {
        -webkit-transform: translateY(-0.5em);
        -ms-transform: translateY(-0.5em);
        transform: translateY(-0.5em);
      }

      &:after {
        -webkit-transform: translateY(0.5em);
        -ms-transform: translateY(0.5em);
        transform: translateY(0.5em);
      }
    }
  }
}

.no_js_banner {

  &_text {
    color: $white_color;
    margin-bottom: 1.25em;
  }

  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-top: 1.875em;

    div {
      margin: 2em;
    }

    label {
      width: 30px;
      height: 30px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin: 5em 5em 0 0;

      &:before, &:after {
        content: '';
        width: 3px;
        height: 100%;
        background-color: $white_color;
        position: absolute;
        top: 0;
        left: 12.5px;
      }

      &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    input {
      clip: rect(0 0 0 0);
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      height: 1px;
      width: 1px;
      visibility: hidden;
      position: absolute;

      &:checked {
        display: none;

        & + label + div, & + label {
          display: none;
        }
      }
    }
  }
}

.footer_container {
  padding: $section_top_bottom_padding $section_left_right_padding;

  .secondary_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.125em;
    padding-bottom: 3.125em;
    border-bottom: 1px solid $black_color;

    div {
      h3 {
        margin-bottom: 1.5em;
      }

      ul.flex_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.25em;

        .logo_link {
          background-image: url("../../resources/images/fcb_logo.svg");
          width: 35px;
          height: 35px;
          border-radius: .625em;
        }
      }
    }
  }

  div.legal_notice_container {
    margin-top: 3.125em;

    & > *:not(:last-child) {
      margin-bottom: 1.25em;
    }
  }
}

.card_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-indent: -10000px;
}

.progress_bar {
  background-color: $black_color;
  height: .3em;
  position: fixed;
  bottom: 0;
  width: 0;
}

.image_container {
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: .625em;
  }
}

.form_feedback, .form_error {
  padding: 1.5em;
  color: $white_color;
  position: fixed;
  border-radius: .5em;
  right: $section_left_right_padding;
  transition: .7s ease-in-out;
  opacity: 1;
  top: -300px;
}

.form_error {
  background-color: $dark_red_color;
}

.form_feedback {
  background-color: $green_color;
}

.disappear {
  transform: translateX(100%);
  opacity: 0;
}

body {
  font-family: 'SofiaPro-Regular', 'Helvetica-Roman', 'Arial-Regular', sans-serif;

  .field_error {
    margin-top: 1.25em;
  }

  h2, h3, h4, .cta_link, .field_error {
    font-family: 'SofiaPro-Bold', 'Helvetica-Bold', 'Arial-Bold', sans-serif;
    font-weight: bold;
  }

  h2 {
    font-size: 2.5em;

    &.main_title {
      font-size: 3.125em;
      margin-bottom: 1em;
    }

    &.secondary_title {
      margin-bottom: 1.25em;
    }
  }

  h3, h4, .cta_link, .field_error, .form_error, .form_feedback {
    font-size: 1.25em;
  }

  main {

    .contact_and_support_us_container {
      .link_container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 1.875em;

        a.cta_link {
          text-indent: unset;
          background-size: 30px 15px;
          text-align: left;
          max-width: unset;
          -ms-flex-preferred-size: calc(50% - 1.875em - 6px);
          flex-basis: calc(50% - 1.875em - 6px);
          background-position: 90%;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;

          &:first-of-type {
            background-image: url("../../resources/images/right_arrow_hover.svg");

            &:hover {
              background-image: url("../../resources/images/right_arrow.svg");
            }
          }

          &:last-of-type {
            background-image: url("../../resources/images/right_arrow.svg");

            &:hover {
              background-image: url("../../resources/images/right_arrow_hover.svg");
            }
          }
        }
      }
    }

    .home_hero_container {
      position: relative;
      padding: 0 3.125em;
      height: calc(100vh - 100px - 70px);

      .main_title {
        margin-bottom: 1.6em;
      }

      .catchphrase {
        margin-bottom: 2.4em;
        font-size: 1.5625em;
      }

      .scroll_down {
        -webkit-animation: scroll_down 1.5s infinite ease-in-out;
        animation: scroll_down 1.5s infinite ease-in-out;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 50px;

        @-webkit-keyframes scroll_down {
          0% {
            -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
          }

          50% {
            -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
          }

          100% {
            -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
          }
        }

        @keyframes scroll_down {
          0% {
            -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
          }

          50% {
            -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
          }

          100% {
            -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
          }
        }

        p {
          padding-bottom: 50px;

          &:after {
            content: url("../../resources/images/scroll_down.svg");
            display: inline-block;
            width: 40px;
            height: 30px;
            position: absolute;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            left: 50%;
            bottom: 0;
          }
        }
      }

      .link_container {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        gap: 1.875em;

        a.cta_link {
          -ms-flex-preferred-size: calc(50% - 1.875em - 6px);
          flex-basis: calc(50% - 1.875em - 6px);
        }
      }
    }

    .last_project_container, .projects_container, .other_projects_container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 1.875em;

      & > a.cta_link {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: unset;
        text-indent: unset;
        background-image: url("../../resources/images/right_arrow.svg");
        background-size: 30px 15px;
        background-position: 80% center;

        &:hover {
          background-image: url("../../resources/images/right_arrow_hover.svg");
        }
      }

      .last_project, .project, .other_project {
        position: relative;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        &_content_container {
          margin-top: .775em;
        }
      }
    }

    .other_projects_container {
      .other_project {
        width: 100%;
      }
    }

    .stat_container {
      ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        li {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: .625em;

          &:not(:last-child) {
            margin-bottom: 1.875em;
          }

          h3 {
            font-size: 1.875em;
          }

          p {
            max-width: 9.375em;
          }
        }
      }
    }

    .testimonial_container {
      ul {
        overflow-x: scroll;
        gap: 1em;
        margin-bottom: 1.5625em;
        padding-bottom: 1.5625em;

        li {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          border: 3px solid $normal_red_color;
          padding: 1.875em 1.25em;
          background-color: transparent;
          max-width: calc(100% - 1.25em * 2 - 6px);
          border-radius: .625em;

          h3 {
            margin-bottom: 1.5em;
          }
        }
      }

      .after_and_before_links {
        gap: 1.875em;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        .slider_button {
          max-width: unset;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;

          &:first-child, &:last-child {
            background-size: 30px 15px;
            text-indent: unset;
            -ms-flex-preferred-size: calc(50% - 1.875em - 6px);
            flex-basis: calc(50% - 1.875em - 6px);
          }

          &:first-child {
            background-image: url("../../resources/images/left_arrow.svg");
            text-align: right;
            background-position: 10%;

            &:hover {
              background-image: url("../../resources/images/left_arrow_hover.svg");
            }
          }

          &:last-child {
            background-image: url("../../resources/images/right_arrow.svg");
            text-align: left;
            background-position: 80%;

            &:hover {
              background-image: url("../../resources/images/right_arrow_hover.svg");
            }
          }
        }
      }
    }

    .goal_and_who_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 3.125em;

      article {
        h3 {
          margin-bottom: 1.5em;
        }
      }
    }

    .houses_container {
      p:not(:last-of-type), .image_container {
        margin-bottom: 1.25em;
      }

      div.flex_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 1.875em;
      }
    }

    .shops_container, .houses_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .house, .shop {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        &:not(:last-of-type) {
          margin-bottom: 3.125em;
        }
      }

      ul {
        li {
          list-style: inside;

          &:not(:last-child) {
            margin-bottom: 1.25em;
          }
        }
      }
    }

    .shops_container {
      .shop {
        .address_and_schedule_container {
          border-bottom: 1px solid $white_color;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .address_container {
            border-right: 1px solid $white_color;
            padding-right: 1.25em;
          }

          .schedule_container {
            padding-left: 1.25em;
          }

          .address_container, .schedule_container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            row-gap: 1.875em;
            padding-bottom: 1.875em;
            -ms-flex-preferred-size: calc(100% / 2 - 1.25em - 1px);
            flex-basis: calc(100% / 2 - 1.25em - 1px);
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;

            .cta_link {
              background-image: url("../../resources/images/google_maps_icon.svg");
              max-width: unset;
              width: unset;
            }
          }

          h3 {
            margin: 1.5em 0;
            text-align: center;
            font-family: 'SofiaPro-Bold-Italic', 'Arial-Bold-Italic', 'Helvetica-Bold-Italic', sans-serif;
            font-style: italic;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
          }
        }
      }
    }

    .phone_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 3.125em;

      .cta_link {
        max-width: unset;
        width: unset;
      }
    }

    .mail_container {
      form {
        margin-top: 3.125em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 3.125em;

        div {
          input, textarea {
            width: calc(100% - 1.25em);
            padding: .625em;
            margin-top: 1.875em;
            border-bottom: 1px solid $white_color;
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: transparent;
            color: $white_color;

            &:focus {
              border-color: $white_color;
              outline: 1px solid $white_color;
              border-radius: .625em;
            }

            &::-webkit-input-placeholder {
              color: rgba(255, 255, 255, .5);
            }

            &::-moz-placeholder {
              color: rgba(255, 255, 255, .5);
            }

            &:-ms-input-placeholder {
              color: rgba(255, 255, 255, .5);
            }

            &::-ms-input-placeholder {
              color: rgba(255, 255, 255, .5);
            }

            &::placeholder {
              color: rgba(255, 255, 255, .5);
            }
          }
        }
      }
    }

    .financial_donation_container, .material_donation_container {
      p {
        &:first-of-type {
          margin-bottom: 1.875em;
        }

        &:last-of-type {
          margin-top: 1.25em;
        }
      }

      ul {
        margin-bottom: 1.875em;

        li {
          list-style: inside;

          &:not(:last-child) {
            margin-bottom: 1.25em;
          }
        }
      }
    }

    .material_donation_container {
      p {
        &:last-of-type {
          margin-top: 1.875em;
        }
      }

      a.cta_link {
        margin-top: 1.875em;
        max-width: unset;
        width: calc(100% - 1em - 6px);
      }
    }

    .project_container {
      .images_container {
        margin-top: 1.875em;

        ul {
          gap: 1.875em;
        }
      }
    }

    .ln_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .section {
        &:first-of-type {
          p {
            &:not(:last-child) {
              margin-bottom: 1.25em;
            }
          }
        }

        &:nth-of-type(even) {
          background-color: $dark_red_color;
          color: $white_color;
        }

        &:nth-of-type(odd) {
          background-color: $light_red_color;
          color: $normal_red_color;
        }
      }
    }
  }
}

@media (width >= 550px) {
  .main_nav_container {
    .main_nav {
      input[id="burger_menu"], label[for="burger_menu"] {
        display: none;
      }

      ul.flex_container {
        position: initial;
        opacity: 1;
      }
    }
  }
}


@media (width >= 800px) {
  .cta_link {
    &:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  body {
    main {
      .home_hero_container {
        .link_container {
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

          a.cta_link {
            -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
          }
        }
      }

      .contact_and_support_us_container {
        .link_container {
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

          a.cta_link {
            width: 33%;
            -ms-flex-preferred-size: unset;
            flex-basis: unset;
            -webkit-box-flex: unset;
            -ms-flex-positive: unset;
            flex-grow: unset;
          }
        }
      }

      .last_project_container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .last_project {
          -ms-flex-preferred-size: calc(100% / 3 - 1.875em);
          flex-basis: calc(100% / 3 - 1.875em);
        }

        a.cta_link {
          -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
          text-align: left;
          background-position: calc(100% - .5em);
        }
      }

      .last_project_container, .projects_container {
        .last_project, .project {
          .image_container {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
          }
        }
      }

      .stat_container {
        ul {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

          li {
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
          }
        }
      }

      .testimonial_container {
        position: relative;

        ul {
          width: 35%;
          margin: 0 auto;
        }

        .after_and_before_links {
          .slider_button {

            &:first-of-type, &:last-of-type {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              width: 8em;
            }

            &:first-of-type {
              left: 8em;
            }

            &:last-of-type {
              right: 8em;
            }
          }
        }
      }

      .goal_and_who_container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: unset;

        article {
          width: calc(50% - 3.125em);
        }
      }

      .houses_container {
        div.flex_container {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;

          .house {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-preferred-size: calc(50% - 1.875em);
            flex-basis: calc(50% - 1.875em);
          }
        }
      }

      .shops_container {
        .shop {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          gap: 1.875em;
          width: 100%;

          &:nth-of-type(even) {
            -ms-flex-item-align: end;
            align-self: flex-end;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
          }

          .image_container {
            width: 50%;
          }

          .address_and_schedule_container {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            border: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 1.875em;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;

            h3 {
              text-align: left;
              margin: 0;
            }

            .address_container, .schedule_container {
              padding: 0;
              border: 0;

              .cta_link {
                -ms-flex-preferred-size: unset;
                flex-basis: unset;
                max-width: 33%;
              }
            }
          }
        }
      }

      .projects_container, .project_container ul {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .material_donation_container, .phone_container {
        a.cta_link, .cta_link {
          width: 20%;
        }
      }

      .other_projects_container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        .image_container {
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
        }
      }

      .ln_container {
        section {
          h2, p {
            max-width: 50%;
          }

          &:nth-of-type(even) {
            p, h2 {
              margin: auto 0 auto auto;
            }

            h2 {
              margin-bottom: 1.25em;
            }

          }
        }
      }

      .mail_container {
        form {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;

          .cta_link {
            width: 33%;
          }
        }
      }
    }

    footer {
      .footer_container {
        .secondary_nav {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
        }
      }
    }
  }
}