//COLORS

$white_color: rgb(255,255,255);
$black_color: rgb(0,0,0);
$light_red_color: #FFF2F0;
$normal_red_color: #A03127;
$dark_red_color: #712424;
$green_color: #27a03f;


//PADDING

$section_top_bottom_padding: 4.375em;
$section_left_right_padding: 1.25em;